<!doctype html>
<html lang="fr">
    <head>
        <title>{% block title %}projet Guillaume{% endblock %}</title>
        <meta charset="utf-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <meta name="description" description="#" />

        <link rel="stylesheet" href="{{ asset('normalize.css', 'css') }}">
        <link rel="stylesheet" href="{{ asset('styles.css', 'css') }}">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <!--  FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- Librairie jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- (nom du fichier  |  clef du tableau assets.named_packages dans index.php -->
        <script src="{{ asset('anime.js', 'animejs') }}"></script>
		<script src="{{ asset('SlidingElement.js', 'js_classes') }}"></script>
        <script src="{{ asset('SlidingText.js', 'js_classes') }}"></script>
		<script src="{{ asset('Border.js', 'js_classes') }}"></script>
        <script src="{{ asset('Content.js', 'js_classes') }}"></script>
		<!-- Parallax jQuery -->
		<script src="{{ asset('parallax.js', 'parallax') }}"></script>
		<!-- main JS -->
        <script src="{{ asset('main.js', 'javascript') }}"></script>

    </head>
    <body>
        <!--header starts here-->
        <header>
            {% block header %}
                {% include "default/header_default.twig" %}
            {% endblock %}
        </header>
        <!--header ends here / main starts here-->
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <!--main ends here / footer starts here-->
        <footer>
            {% block footer %}
                {% include "default/footer_default.twig" %}
            {% endblock %}
        </footer>
        <!--footer ends here-->
    </body>
</html>
