<!doctype html>
<html lang="fr">
    <head>
        <title>{% block title %}portfolio Guillaume{% endblock %}</title>
        <meta charset="utf-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <meta name="description" content="Passionné par l'informatique et le web en général j'ai fait mes premiers pas en auto-didacte pour ensuite rejoindre une formation diplomante de la 3w Academy et je suis aujourd'hui à la recherche d'un poste !" />
        <link rel="stylesheet" href="{{ asset('contact.css', 'css') }}">
        <link rel="stylesheet" href="{{ asset('normalize.css', 'css') }}">
        <link rel="stylesheet" href="{{ asset('portfolio.css', 'css') }}">
        <link rel="stylesheet" href="{{ asset('timeline.css', 'css') }}">
        <link rel="stylesheet" href="{{ asset('skill.css', 'css') }}">
        <link rel="stylesheet" href="{{ asset('styles.css', 'css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

        <!--  FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- Librairie jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- (nom du fichier  |  clef du tableau assets.named_packages dans index.php -->
        <script src="{{ asset('anime.js', 'animejs') }}"></script>
		<script src="{{ asset('SlidingElement.js', 'js_classes') }}"></script>
        <script src="{{ asset('SlidingText.js', 'js_classes') }}"></script>
		<script src="{{ asset('Border.js', 'js_classes') }}"></script>
        <script src="{{ asset('Content.js', 'js_classes') }}"></script>
        <script src="{{ asset('Container.js', 'js_classes') }}"></script>
        <script src="{{ asset('VerticalTimeline.js', 'js_classes') }}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                {% include "default/header_default.twig" %}
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                {% include "default/footer_default.twig" %}
            {% endblock %}
        </footer>
        <!-- main JS -->
        <script src="{{ asset('main.js', 'javascript') }}"></script>
    </body>
</html>
